<ul id="main-grid" class="uk-grid-small uk-child-width-1-3 uk-text-center" uk-sortable="handle: .uk-card" uk-grid>
<li>
    <div class="uk-card uk-card-default uk-card-body">
      <div class="label">Duration</div>
      <div id="duration" class="value">-</div>
      <div class="unit">s</div>
      </div>
    </li>
<!--Duration: <span id="duration"></span> s</li>-->
<li>
  <div class="uk-card uk-card-default uk-card-body">
    <div class="label">Speed</div>
    <div id="speed" class="value">-</div>
    <div class="unit">m/s</div>
    </div>
</li>
<!--<li>Speed: <span id="speed"></span> m/s</li>-->

<li>
  <div class="uk-card uk-card-default uk-card-body">
    <div class="label"> Avg. Speed</div>
    <div id="averageSpeed" class="value">-</div>
    <div class="unit">m/s</div>
    </div>
</li>

  <div class="uk-card uk-card-default uk-card-body">
    <div class="label">user-power</div>
    <div id="user-power" class="value">-</div>
    <div class="unit">W</div>
    </div>

  <!--<li>User Power: <span id="user-power"></span> W</li>-->

    <div class="uk-card uk-card-default uk-card-body">
      <div class="label">State</div>
      <div id="state" class="value">-</div>
      <div class="unit"></div>
      </div>

  <!--<li>State: <span id="state"></span> </li>-->

    <div class="uk-card uk-card-default uk-card-body">
      <div class="label">Cadence</div>
      <div id="cadence" class="value">-</div>
      <div class="unit">rpm</div>
      </div>

  <!--<li>Cadence: <span id="cadence"></span> rpm </li>-->

    <div class="uk-card uk-card-default uk-card-body">
      <div class="label">Heart-rate</div>
      <div id="heart-rate" class="value">-</div>
      <div class="unit">bpm</div>
      </div>

      <div class="uk-card uk-card-default uk-card-body">
        <div class="label">Bell</div>
        <div id="bell-ringing" class="value">-</div>
        <div class="unit"></div>
        </div>
        <div class="uk-card uk-card-default uk-card-body">
          <div class="label">Ambient Light</div>
          <div id="ambient-light" class="value">-</div>
          <div class="unit">lux</div>
          </div>
  <!--<li>Heart-rate: <span id="heart-rate"></span> bpm </li>-->
</ul>
