
.progress {
    height: 5px;
    width: 300px;
}

.progress-bar-info {
    background-color: #51bcda;
}

.progress-bar-danger {
    background-color: #ef8157;
}

.spinner {
    width: 50px;
    height: 10px;
    text-align: center;
    display: inline-block;
}

.spinner>div {
    background-color: #000;
    height: 100%;
    width: 4px;
    margin: 0px 1px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

/* You can add global styles to this file, and also import other style files */
@import url(https://cdn.cobi.bike/static/fonts/UniSansRegular.css);
@import url(https://cdn.cobi.bike/static/fonts/UniSansRegularItalic.css);

body, html{
  overflow-x: hidden;
  background-color: #1d1d23;
  font: 100 1.9rem/20px 'UniSansRegularItalic', Avenir, Heveltica, Arial, san-serif; color: #FFF;
  text-align: center !important;
}

ul {
  margin-left:3px !important;
  margin-right:-2px !important;
}

.uk-card-default {
    background: #2d2d37;
    color: #FFF;
    box-shadow: 0;
    padding: .7rem .5rem;
}

.uk-grid-small li {
  margin: 0 !important;
  padding: 3px !important;
}


.label {
  font: 100 .45rem/15px 'UniSansRegularItalic', Avenir, Heveltica, Arial, san-serif; color: #666;
  letter-spacing: .05rem;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.value {
  text-transform: uppercase;
}

.unit {
  font: 100 .55rem/22px 'UniSansRegular', Avenir, Heveltica, Arial, san-serif; color: #00c8e6;
  margin-top: .8rem;
  margin-bottom: 0;
  letter-spacing: .05rem;  
}

.inactive {
  opacity: .3;
}

